/* bricolage-grotesque-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-200.woff2") format("woff2");
}
/* bricolage-grotesque-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-300.woff2") format("woff2");
}
/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-regular.woff2") format("woff2");
}
/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-500.woff2") format("woff2");
}
/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-600.woff2") format("woff2");
}
/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-700.woff2") format("woff2");
}
/* bricolage-grotesque-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/bricolage-grotesque/bricolage-grotesque-v9-latin-800.woff2") format("woff2");
}
/* kalam-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Kalam";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/kalam/kalam-v18-latin-700.woff2") format("woff2");
}
